# Data understanding

### Import packages and dataset

In [2]:
import pandas as pd
from plotnine import ggplot, aes, geom_bar, geom_line

In [6]:
customers = pd.read_csv('../Data/synthetic_sme_customers_processed.csv')
transactions = pd.read_csv('../Data/synthetic_sme_transactions_processed.csv')

/tmp/ipykernel_1553322/3594939439.py:2: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.

### Overview of data

#### Example data

In [7]:
customers.head()

,cust_id,customer_type,parent_company_flag,CUST_GRP_ID,BRTH_DT,language
0,3caf82febb1d4e64b140893d9e89d748115ec5b70455e1...,SME,0,eefcfda39744d0f4c7d1f1f6f13a53dbf49f7281de5de0...,2005-2009,ENG
1,fd0d32ecf697980ff5b750d18fe6f8e9f96f2e31fba130...,SME,1,NaN,2015-2019,EST
2,320b10457c9c109c2b4f00b0fecac1cc8cb7c2da8ad936...,SME,1,NaN,2020-2024,EST
3,d4d7e033ed758bb075ad96435d4afb505b7a4059aa3f37...,SME,1,NaN,2020-2024,EST
4,e9b8374b1f3ae04cc65672bc5907726d962edb35e05736...,SME,1,NaN,2020-2024,EST

In [8]:
transactions.head()

,WeekDay,Channel,cust_id,D_C,Currency_trx,Amount_EUR,Customer_IBAN,Counterparty_IBAN,Amount_Orig,currency,MCC,country_of_merchant,BookingDatetime
0,5,POS,00feb0ff373287a3b1b210369f5aef9bfffd5d02f6bc8f...,D,EUR,7.518036,3a8c99d1e8caf60ddbc4b9865b0947f981c90980f3fab2...,7ecc6d620a9ea4170231178c236206770eb7a4785d2a6c...,7.518036,EUR,5271.0,EE,2023-01-27 10:00:28
1,2,Internet Bank,00feb0ff373287a3b1b210369f5aef9bfffd5d02f6bc8f...,D,EUR,0.200481,3a8c99d1e8caf60ddbc4b9865b0947f981c90980f3fab2...,7ecc6d620a9ea4170231178c236206770eb7a4785d2a6c...,0.200481,EUR,NaN,NaN,2023-01-17 02:14:14
2,3,Internet Bank,00feb0ff373287a3b1b210369f5aef9bfffd5d02f6bc8f...,D,EUR,1.002405,3a8c99d1e8caf60ddbc4b9865b0947f981c90980f3fab2...,7ecc6d620a9ea4170231178c236206770eb7a4785d2a6c...,1.002405,EUR,NaN,NaN,2023-02-08 02:00:18
3,7,Internet Bank,00feb0ff373287a3b1b210369f5aef9bfffd5d02f6bc8f...,C,EUR,0.010024,3a8c99d1e8caf60ddbc4b9865b0947f981c90980f3fab2...,3a8c99d1e8caf60ddbc4b9865b0947f981c90980f3fab2...,0.010024,EUR,NaN,NaN,2023-01-01 03:56:39
4,3,Internet Bank,00feb0ff373287a3b1b210369f5aef9bfffd5d02f6bc8f...,D,EUR,1.002405,3a8c99d1e8caf60ddbc4b9865b0947f981c90980f3fab2...,7ecc6d620a9ea4170231178c236206770eb7a4785d2a6c...,1.002405,EUR,NaN,NaN,2023-03-08 02:06:48

#### Data description

In [10]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   cust_id              1000 non-null   object
 1   customer_type        1000 non-null   object
 2   parent_company_flag  1000 non-null   int64
 3   CUST_GRP_ID          348 non-null    object
 4   BRTH_DT              1000 non-null   object
 5   language             1000 non-null   object
dtypes: int64(1), object(5)
memory usage: 47.0+ KB

In [11]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2542016 entries, 0 to 2542015
Data columns (total 13 columns):
 #   Column               Dtype
---  ------               -----
 0   WeekDay              int64
 1   Channel              object
 2   cust_id              object
 3   D_C                  object
 4   Currency_trx         object
 5   Amount_EUR           float64
 6   Customer_IBAN        object
 7   Counterparty_IBAN    object
 8   Amount_Orig          float64
 9   currency             object
 10  MCC                  float64
 11  country_of_merchant  object
 12  BookingDatetime      object
dtypes: float64(3), int64(1), object(9)
memory usage: 252.1+ MB

#### Value counts of categoricals with with more than 2 values

In [24]:
customers.BRTH_DT.value_counts()

BRTH_DT
2015-2019    249
2010-2014    198
2005-2009    164
1995-1999    163
2000-2004    113
2020-2024     87
1990-1994     17
1900-1904      5
1970-1974      2
1915-1919      1
1965-1969      1
Name: count, dtype: int64

In [18]:
transactions.Channel.value_counts()

Channel
Internet Bank             2157606
POS                        180480
Mobile Bank                123912
E-Invoice                   38834
ATM                         30742
Standing Payment Order       6424
Branch                       4006
Paperless service              12
Name: count, dtype: int64

In [21]:
transactions.Currency_trx.value_counts()

Currency_trx
EUR    2537364
USD       3466
SEK        932
GBP        124
DKK         86
CAD         30
NOK         14
Name: count, dtype: int64

In [19]:
transactions.MCC.value_counts()

MCC
5211.0    20258
5411.0    13952
5541.0    12302
5542.0    11018
5251.0     9192
          ...
3665.0        2
3509.0        2
8641.0        2
3387.0        2
5975.0        2
Name: count, Length: 298, dtype: int64

In [23]:
transactions.country_of_merchant.value_counts()

country_of_merchant
EE     134810
IE       9518
LV       5336
FI       5208
NL       3460
        ...
MV          2
MU          2
MK          2
GI          2
MC          2
Name: count, Length: 78, dtype: int64

### NaN-values, duplicates and outliers

#### NaN values per column

In [12]:
customers.isna().sum(axis=0)

cust_id                  0
customer_type            0
parent_company_flag      0
CUST_GRP_ID            652
BRTH_DT                  0
language                 0
dtype: int64

In [13]:
transactions.isna().sum(axis=0)

WeekDay                      0
Channel                      0
cust_id                      0
D_C                          0
Currency_trx                 0
Amount_EUR                   0
Customer_IBAN               32
Counterparty_IBAN       121318
Amount_Orig                  0
currency                     0
MCC                    2359926
country_of_merchant    2359926
BookingDatetime              0
dtype: int64

#### Number of duplicates

In [14]:
customers.duplicated().sum()

np.int64(0)

In [16]:
transactions.duplicated().sum()

np.int64(1271449)

#### Visual value distributions

In [ ]:
(
    ggplot(data=transactions)
    + geom_bar(aes(x='Amount_EUR', color='WeekDay'))
)